.flex-row-container {
    display: flex;
}

.icon-container {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    justify-content: space-around;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
}